@charset 'utf-8';
/*reset*/
*,*:after,*:before {margin: 0; padding: 0;box-sizing:border-box;}
body{margin: 0; padding: 0;font-size:14px ; font-family: 'Noto Sans', sans-serif;}
html{overflow:auto;}
li {list-style: none;}
a  {text-decoration:none; color:inherit;}
img {border:none; vertical-align: middle;}
h1,h2,h3,h4,h5,h6{ font-weight: normal; font-size:100%;}
table{border-collapse: collapse;}
/* */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700|Noto+Sans:400,700');

#header{position: fixed; top: 0; left: 0; width:100%; height: 80px; line-height: 80px; padding: 0px 100px; z-index: 100; transition: all .3s ease-out; }
#header.black{height: 50px; line-height: 50px; padding: 0 50px; transition: all .3s ease-out; background-color: #38618f; color: #fff }
	.logo{position: absolute; top:0; left: 0; width: 50px; height: 50px; text-indent: -999em; border-radius: 0 0 100% 0;  background-color: #fd9735 ;transition: all .2s ease-in-out; cursor: pointer}
	.logo:hover { box-shadow: 1px 2px 3px rgba(0,0,0,.5) ; transition: all .2s ease-in-out; transform: scale(1.2);}
.nav{}
.nav > ul {overflow: hidden;}
.nav > ul > li {float: left; width: 20%; text-align: center;position:relative;}
.nav > ul > li > a{ display: block}
	.nav > ul > li.on::after,
	.nav > ul > li:hover::after {content: ''; width: 100%; height: 5px; position: absolute; bottom: 0; left: 0; background-color: #fd9735 ;}
